
/* This will apply all included styles to the header element */
header{
    font-size: 70px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/* This will apply all included styles to any element which uses the "logo" class*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -75px;
    
}

/* This will apply any included styles to the body element */
body{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #E0E2DB;
}

/* Create your own classes below! */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #131615;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #8B2635;

}

.active{
    background-color: gray;
}

.ptext {
   width: 400px;
   border-radius: 25px;
   border: 1px solid;
   padding: 20px;

}

.p1 {
    display: flex;
    width: 400px;
    border-radius: 25px;
    border: 1px solid;
    padding: 20px;
    background-color: #d2d4c8;
}

.p2 {
    display: flex;
    width: 400px;
    border-radius: 25px;
    border: 1px solid;
    padding: 20px;
    background-color: #c7c9ba;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.flex-container2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img {
    display: flex;
    width: 400px;
    height: 400px;
    object-fit: contain;
}